# Do your work for this exercise in a jupyter notebook named feature_engineering within the regression-exercises repo. Add, commit, and push your work.

In [109]:
# imports
import os
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly
import scipy.stats as stats
import statistics as s
import math 
from __future__ import division

# sklearn imports
from sklearn.feature_selection import SelectKBest, f_regression,RFE
import sklearn.preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LinearRegression

#sse
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score


# sql ace credentials
import env
import wrangle as wr
import seaborn as sns
import explore as ex

# Load the tips dataset.

In [79]:
# loading the data from sns
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [96]:
#group the columns by categorical
cat_cols = ['sex', 'smoker', 'day', 'time']

#group the columns by numerical columns
num_cols = ['total_bill', 'size','price_per_person']

# Create a column named price_per_person. This should be the total bill divided by the party size.

# creating a new column from `total bill` and `size`
df['price_per_person'] = (df.total_bill / df.size)* 1000

In [81]:
df.head()

   total_bill   tip     sex smoker  day    time  size  price_per_person
0       16.99  1.01  Female     No  Sun  Dinner     2          9.947307
1       10.34  1.66    Male     No  Sun  Dinner     3          6.053864
2       21.01  3.50    Male     No  Sun  Dinner     3         12.300937
3       23.68  3.31    Male     No  Sun  Dinner     2         13.864169
4       24.59  3.61  Female     No  Sun  Dinner     4         14.396956

# Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?

In [98]:
df.corr()

                  total_bill       tip      size  price_per_person
total_bill          1.000000  0.675734  0.598315          1.000000
tip                 0.675734  1.000000  0.489299          0.675734
size                0.598315  0.489299  1.000000          0.598315
price_per_person    1.000000  0.675734  0.598315          1.000000

# I think that `total_bill`, `price_per_person`, and `sex` will determine the tip amount

# Use select k best to select the top 2 features for predicting tip amount. What are they?

In [82]:
# for the purpose of this exercise im not going to split my data

In [134]:
# df split
x_data = df[num_cols]
y_data = df['tip']

In [177]:
# initialize object
f_selector = SelectKBest(f_regression, k=1)

In [178]:
# fit the object

In [179]:
f_selector.fit(x_data,y_data)

SelectKBest(k=1, score_func=<function f_regression at 0x7fdacb82b3a0>)

In [180]:
# look at what the 2 best ones were
x_data.columns[f_selector.get_support()]

Index(['total_bill'], dtype='object')

## `total_bill` and `price_per_person` where the 2 best features

# Use recursive feature elimination to select the top 2 features for tip amount. What are they?

In [137]:
# initializing object
lm = LinearRegression()

In [173]:
# initialize the RFE to our data.
rfe = RFE(lm, n_features_to_select = 1)

In [174]:
# fit data
rfe.fit(x_data, y_data)

RFE(estimator=LinearRegression(), n_features_to_select=1)

In [175]:
# take x_data and returns rfe support into a list
rfe_feats = x_data.columns[rfe.support_].tolist()

In [176]:
#call the variable
rfe_feats

['price_per_person']

# Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features you are selecting?

 ### the only time it changed was when i changed feature numbers. kbest chose `total bill` but rfe chose `price per person`

# Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [184]:
tips = df.copy()

In [194]:
def select_kbest(predictors,target,num_of_feats):
    
    # initializing kbest object
    f_selector = SelectKBest(f_regression,k = num_of_feats)
    
    # fitting 
    f_selector.fit(predictors,target)
    
    #creating a mask of support features
    feat_mask = f_selector.get_support()
    
    # return 
    return predictors.columns[feat_mask]

In [195]:
select_kbest(x_data,y_data,2)

Index(['total_bill', 'price_per_person'], dtype='object')

# Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [228]:
def select_rfe(predictors,target,num_of_feats):
    
    # initializing kbest object
    lm = LinearRegression() 
    
    # initialize the RFE to our data.
    rfe = RFE(lm, n_features_to_select = num_of_feats)
    
    # fit data
    rfe.fit(predictors, target)
  
    # take x_data and returns rfe support into a list
    rfe_feats = predictors.columns[rfe.support_].tolist()
    
    # return 
    return rfe_feats

In [229]:
select_rfe(x_data,y_data,2)

['total_bill', 'price_per_person']

# Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).

In [210]:
from pydataset import data

In [211]:
swiss = data('swiss')

In [216]:
swiss.head()

,Fertility,Agriculture,Examination,Education,Catholic,Infant.Mortality
Courtelary,80.2,17.0,15,12,9.96,22.2
Delemont,83.1,45.1,6,9,84.84,22.2
Franches-Mnt,92.5,39.7,5,5,93.40,20.2
Moutier,85.8,36.5,12,7,33.77,20.3
Neuveville,76.9,43.5,17,15,5.16,20.6

In [218]:
# df split
x_train = swiss.drop(columns = 'Fertility')
y_train = swiss['Fertility']

## Select kbest

In [223]:
select_kbest(x_train,y_train,3)

Index(['Examination', 'Education', 'Catholic'], dtype='object')

## select rfe

In [230]:
select_rfe(x_train,y_train,3)

['Examination', 'Education', 'Infant.Mortality']